<!DOCTYPE html>
<html>
    <head>
	<link rel="stylesheet" type="text/css" href="CSS/Main.css">
	<title>final project</title>
    </head>
    <body background="Images/DC_Versus_Marvel_1.jpg" width="100%" height="100%">

    	<script type="text/javascript"> </script>
	<div class="container">

		<div class="wrapper">
		   <div class="header">
		   	<!---------------<img src="images/logo-0.png" width="400px">--------------->
		   	<p> This site is the collection of different characters and groups from different comic book publishing companies </p>
		   	<!------------<img class="time" src="Imagesages/logo-01.png">---------->
		   </div><!-------------headder------>
		   <div class="marvel">
		   	<div class="part1">
		   		<img src="Images/image-01.jpg" width="235px" height="250px">
		   	</div><!-------------part1---- Marvel    ----->
		   	 <div class="part1">
		   		<h2> Marvel </h2>
		   		<p>Marvel Comics is the brand name and primary imprint of Marvel Worldwide Inc., formerly Marvel Publishing, Inc. and Marvel Comics Group, a publisher of American comic books and related media. It owns publishes popular characters like Avengers, X-men, Fantastic Four, and many other popular.It is currently owned by Walt Disney company. </p>
		   	</div> <!-------part1-  Marvel   ------>
		   	</div><!----------marvel------------>
		   	<div class="DC">
		   	<div class="part1">
		   		<h2> DC </h2>
		   		<p>
		   			DC Comics, Inc. is an American comic book publisher and the flagship unit of DC Entertainment. It publishes popular characters like Batman , Superman , Justice League and other heroes and groups. It also owns characters from other comic book companies like Wildstorm, Milestone. DC Entertainment is a subsidiary of the Warner Bros, which itself is a subsidiary of AT&T.
		   		</p>
		   	</div><!----------part1----DC---------->
		   	<div class="part1">
		   		<img src="Images/image-02.jpg" width="235px" height="250px">
		   	</div><!---------part1-------DC----->
		   	</div><!-------------DC---------->

		   	<div class="image">
		   		<div class="part1">
		   			<h2> Image </h2>
		   			<p>
		   				Image Comics is an American comic book publisher and is the third largest comic book and graphic novel publisher. It publishes Invincible, G.I.Joe, Walking Dead among others. It is mostly popular for it's grittier and darker version of the comics.
		   			</p>
		   		</div><!------------part1---   image   ------->
		   		<div class="part1">
		   			<img src="Images/image-03.jpg" width="235px" height="250px">
		   		</div><!-----------part1---- image ----->
		   	</div><!------------ image --------->
		   	<div class="Valiant">
                <div class="part1">
                    <img src="Images/image-04.jpg" height="250px" width="235px" >
                </div><!----------------part1 ---- valiant--------------->
                <div class="part1">
                    <h2> Valiant </h2>
                     <p>
		   			 Valiant Comics is an American publisher of comic books and related media. The company was founded in 1989 by former Marvel Comics editor-in-chief Jim Shooter. Shadowman, Bloodsport are some of the characters from this publication.
		   		</p>
                </div><!---------------part 1 -----valiant----------->
            </div>
            <div class="main5">
            </div><!-----------MAIN5---->
            <div class="footer">
                <div class="last">
		   				<!----------<img src="images/logo-66.png" width="300px">---------------->
                </div><!-------last-------->
                <div class="last1">
		   				<strong>To know our mail click here:</strong>
		   				<button onclick="myFunction()">Mail </button>

						<p id="demo"></p>

						<script>
						function myFunction() {
  							var txt;
  							if (confirm("Click ok to know our gmail")) {
    							txt = "comicology@gmail.com";
  							} else {
    							txt = "Opps! Looks like you dont need our mail ";
  							}
  							document.getElementById("demo").innerHTML = txt;
							}
						</script>
                </div><!--------last1---->
		   		<div class="last2">
		   		<!-----------<img src="images/logo-45.png">-------------->
		   		</div><!----------last2--------->
		   		</div><!----------footer------->
		   		<div class="footer2">
		   			<strong>
		   				&#9400; 2021 - NITRR-EE ,All Right Reserved
		   			</strong>
		   		</div><!----------footer2------>
		</div><!---------wrapper----->
	</div><!----------container------>
	
    </body>
</html>